
.change
{
  margin-left: 100px;
}

.Color2
{

    font-family: 'Oleo Script';
    font-size: 30px;
    color: White;
    margin-right: 100px;
}
.Color
{

    font-family: 'Oleo Script';
    font-size: 70px;
    color: White;
}


.body2
{
    background-image: url("background-for-game.png");

}

.content
{
    margin-top: 50px;
    display: grid;
    grid-template-columns:500px 500px 500px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;

}

.time
{
  background-image:url('timer.png');
  height: 500px;
  width: 105px;
}



.button
{
  background-image:url('Start_Button.png');
  margin-top: 600px;
  height: 105px;
  width: 518px;
}



.body
{
    background-image: url("background-for-game.png");

}
.h1
{   margin: 8px;
    font-family: 'Oleo Script';
    font-size: 70px;
    text-align: center;
    color: skyblue;
}
    .playing-container
    {
        margin-top: 25px;
        display:grid;
        grid-template-columns: 100px 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 100px 100px 100px 100px;
        justify-content: center;
    }

    .playingtile
    {
        background-color: white;
        border: 0.8px solid black;
        border-radius: 10px;
        /*
        border-style: outset;
        */

    }

    .colorOnClick
    {
        background-color:rgb(17, 36, 252);
    }

    .fadeColor
    {
        background-color: white;
    }

    .failOnClick
    {
      background-color:rgb(224, 6, 6);
    }

    .rightOnClick
    {
      background-color: green;
    }

      background-color:rgb(224, 6, 6);
    }

    .rightOnClick
    {
      background-color: green;
    }
